<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  <script src="search.js"></script>
</head>
<body>
<div ng-app="searchApp" ng-controller="searchCtrl">
        <h1>Search</h1>
        <input type="text" ng-model="query"  size="30"
        placeholder="What needs to be search?" ng-keyup="autoComplete()" list="datalist" ng-enter="search()"/>   
		<datalist id="datalist">
		  <option ng-repeat="term in termLs" value="{{term}}">
		</datalist>
        <button ng-click="search()">search</button>
        <div ng-repeat="web in webList">
        <a href='{{"file://localhost/Users/angieyayabird/Sites/wiki/" + web.title}}'>{{web.title}}</a>
        </div>
</div>
</body>
</html>